@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');


html {
    box-sizing: border-box;
    font-family: 'VT323', monospace;
    height: 100%;
}

*::before, 
*::after { 
    box-sizing: inherit;
}

body {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 15% 15% 55% 15%;
    grid-template-areas: 
        "a a"
        "b c"
        "b d"
        "e e"
    ;
    margin: 0px;
    height: 100%;
}

header {
    grid-area: a;    
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    color: white;
}

nav {
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: end;
}

.tab {
    margin: 1.3rem;
}

.picture {
    grid-area: b;
    display: flex;
    justify-content: center;
    align-items: center;
}

.planetId {
    grid-area: c;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.info {
    grid-area: d;
}

#planetInfo {
    text-align: center;
}

footer {
    grid-area: e;
    display: flex;
}

#solarSystem {
    display: flex;
    justify-content: space-around;
    border-top: 2px solid black;
    align-items: center;
    width: 100%;
}

.planet {

}

@media only screen and (min-width: 481px) and (max-width: 559px) {
    body {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 12% 8% 20% 60%;
        grid-template-areas: 
            "a a"
            "a a"
            "b b"
            "c c"
        ;
        margin: 0px;
        height: 100%;
    }
    
    
    header {
        grid-area: a;
        display: flex;
        text-align: center;
        flex-wrap: wrap;
        justify-content: center;
        height: 7.1rem;
    }
    
    .tab {
        margin-top: 0;
    }

    #pages {
        display: flex;
        justify-content: center;
        font-size: 20px
    }
    
    .icon {
        height: 4.6rem;
        width: 4.6rem;
    }

    .picture {
        display: none;
    }
    
    .info {
        grid-area: c;
        text-align: center;
    }

    .planetId {
        grid-area: b;
        width: 100%;
    }

    footer {
        display: none;
    }
}

@media only screen and (min-width: 560px) and (max-width: 767px) {
    body {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 25% 15% 55% 15%;
        grid-template-areas: 
            "a a"
            "b b"
            "c c"
            "d d"
        ;
        margin: 0px;
        height: 100%;
    }
    
    
    header {
        grid-area: a;
        display: flex;
        flex-direction: column;
        text-align: center;
        height: 7.1rem;
    }
    
    .tab {
        margin-top: 0;
    }

    #pages {
        display: flex;
        justify-content: center;
        font-size: 20px
    }
    
    .icon {
        height: 4.6rem;
        width: 4.6rem;
    }

    .picture {
        display: none;
    }
    
    .info {
        grid-area: c;
        text-align: center;
    }

    .planetId {
        grid-area: b;
        width: 100%;
    }

    footer {
        grid-area: d;
    }
}